* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Bricolage Grotesque", sans-serif, system-ui, monospace;
	background-color: #151515;
	color: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	width: 800px;
	height: 500px;
	border: 1px dashed #f1f1f1;
	background-color: #181818;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	cursor: url("./cursors/Pointer.cur"), auto;
}

.container a {
	text-decoration: none;
	padding-block: 8px;
	padding-inline: 13px;
	border-radius: 5px;
	background-color: #5d5dbd;
	color: white;
	cursor: url("./cursors/Link.cur"), auto;
}

.container h1 {
	cursor: url("./cursors/Text.cur"), auto;
}

.container a:hover {
	opacity: 90%;
}

h1 {
	opacity: 70%;
}
